<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form action="#" th:method="PATCH" th:action="@{/update}" th:object="${user}">

    <h1>Edit User</h1>
    <input type="hidden" name="id" th:value="${user.getId()}"/>
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastName">Enter lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <input type="submit" value="Update user"/>

</form>

</body>
</html>